<div class="widget-card" data-widget="countdown">
  <div class="widget-head"><i data-feather="target"></i><span>Countdown</span></div>
  <div class="widget-body">
    <div class="countdown-add-row">
      <input type="text" id="countdownTitleInput" class="text-input" placeholder="event name">
      <input type="datetime-local" id="countdownDateInput" class="text-input">
      <button class="btn btn-glass small" id="countdownAddBtn"><i data-feather="plus"></i></button>
    </div>
    <div id="countdownList" class="countdown-list"></div>
  </div>
</div>
